---
import { getCollection } from 'astro:content';
import BlogPost from '../../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('bases_de_datos');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();

const today = new Date();
const releaseBackend = new Date('2025-12-14');
const available = today >= releaseBackend;
const title = 'Sección no disponible todavía';
const message = `La sección Backend estará disponible el ${releaseBackend.toLocaleDateString('es-ES')}.`;
---

{available ? (
	<BlogPost {...post.data}>
		<Content />
	</BlogPost>
) : (
	<BlogPost title={title} hideBreadcrumbs={true} isPlaceholder={true}>
		<section style="text-align:center; padding:4rem;">
			<p>{message}</p>
			<a href="/astro-proyect/">
				Volver al inicio
			</a>
		</section>
	</BlogPost>
)}


