---
import { ViewTransitions } from 'astro:transitions';
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.scss"
import "../styles/custom-breadcrumbs.scss"
import CodeEditor from '../components/CodeEditor.astro'
import Modal  from '../components/Modal.astro'
import '../styles/global.css'


let currentPath = Astro.url.pathname;

if (currentPath !== '/' && currentPath.endsWith('/')) {
    currentPath = currentPath.slice(0, -1);
}

const isRoot = currentPath === '/' || currentPath === '/astro-proyect';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		
	</head>
	<body>
		<header>
			<nav class="nav">
				<a href="/astro-proyect/"><img src="/astro-proyect/images/logo_TB_horiz_negativo-01.png" alt="The_bridge" class="logo"></a>
				<!--<form id="search-form">
					<input type="text" id="search-input" placeholder="Buscar..." aria-label="Buscar" />
					<button type="submit">Buscar</button>
				</form> -->
				<div id="search-results"></div>
				<ul class="navList">
					<li class="navItem"><a href="/astro-proyect/fundamentals/">Fundamentals</a></li>
					<li class="navItem"><a href="/astro-proyect/backend/">BackEnd</a></li>
					<li class="navItem"><a href="/astro-proyect/frontend/">FrontEnd</a></li>
				</ul>
				<button class="hamburger" aria-label="Toggle menu">
					&#9776;
				</button>
			</nav>
		</header>
		<div class="back-breadcrumbs">
			{isRoot ? "" : 
				<Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false}>
					<svg
						slot="separator"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<polyline points="9 18 15 12 9 6"></polyline>
					</svg>
				</Breadcrumbs>
			}
		</div>
		<main transition:animate="slide">
			<slot />
		</main>
		<Modal>
			<CodeEditor/>
	  	</Modal>

		  <script>
			document.addEventListener('DOMContentLoaded', function () {
				const hamburger = document.querySelector('.hamburger');
				const nav = document.querySelector('.nav');
		
				if (hamburger && nav) {  // Verificamos que ambos elementos existan
					hamburger.addEventListener('click', function () {
						nav.classList.toggle('active'); // Activa/desactiva la clase 'active'
					});
				}
			});
		</script>
	</body>
</html>
